@model  IEnumerable<MvcPL.ViewModels.ProfileModel>
@{
    Layout = "~/Views/Shared/_Home.cshtml";
}
<table class="table table-striped col-md-5">
    @foreach(var profile in Model)
    {
        <tr>
            <td class="col-xs-3">
                <div class="frame-round">
                    <div class="crop">
                        <img src="@Url.Action("GetImage", "Profile", new {id = profile.Id})" alt="I am" class="img-circle" width="90" height="90" />
                    </div>
                </div>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        Last Name:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => profile.LastName)
                    </dd>
                    <dt>
                        First name:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => profile.FirstName)
                    </dd>
                    <dt>
                        City:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => profile.City)
                    </dd>
                    <dd>
                        @Html.RouteLink("Go to the profile page", "User", new { id = profile.Id })
                    </dd>
                </dl>
            </td>
            <td id="@profile.Id-accf">
                <span>
                    @Ajax.RouteLink("Accept", "AcceptFriend", new { id = profile.Id }, new AjaxOptions { UpdateTargetId = profile.Id.ToString() + "-accf", InsertionMode = InsertionMode.ReplaceWith }, htmlAttributes: new { @class = "btn btn-default btn-sm" })
                </span>
                <span id="@profile.Id-reff">
                    @Ajax.RouteLink("Refuse", "RefuseFriend", new { id = profile.Id }, new AjaxOptions { UpdateTargetId = profile.Id.ToString() + "-reff", InsertionMode = InsertionMode.ReplaceWith }, htmlAttributes: new { @class = "btn btn-default btn-sm" })
                </span>
            </td>
        </tr>
    }
</table>