<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    <style>
        .topMargin {
            margin-top: 3%;
        }

        .status {
            font-size: x-large;
        }

        .verticalAlighn {
            vertical-align: middle;
        }

        .frame-square {
            background: #00bc8c;
            ;
            border: 2px solid #000;
            display: inline-block;
            vertical-align: top;
            padding: 5px;
            width: 250px;
            height: 250px;
            margin-right: .5em;
            margin-bottom: .3em;
        }

        .frame-round {
            background: #00bc8c;
            ;
            border: 2px solid #000;
            display: inline-block;
            vertical-align: top;
            padding: 2px;
            width: 60px;
            height: 60px;
            margin-right: .5em;
            margin-bottom: .3em;
        }

        .frame-round {
            border-radius: 50%;
            overflow: hidden;
        }

            .frame-round .crop {
                border-radius: 50%;
            }

        .crop {
            height: 100%;
            overflow: hidden;
            position: relative;
        }

            .crop img {
                display: block;
                min-width: 100%;
                min-height: 100%;
                margin: auto;
                position: absolute;
                top: -100%;
                right: -100%;
                bottom: -100%;
                left: -100%;
            }
    </style>
</head>
<body>

<div class="row">
    <div class="col-md-12">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("F-SOCIETY", "Home", "Profile", new {area = ""}, new {@class = "navbar-brand"})
                </div>
                <div class="navbar-right">@Html.ActionLink("Logout", "LogOut", "Account", new {area = ""}, new {@class = "navbar-brand" }) </div>
                <div class="navbar-right">@Html.ActionLink("Search ", "Index", "Search", new { area = "" }, new { @class = "navbar-brand"}) </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="container body-content">
            @RenderBody()
            <hr/>
        </div>
    </div>
</div>
<div>
    <div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Friends Society &copy; @DateTime.Now.Year</p>
            </div>
        </footer>
    </div>
</div>
@RenderSection("scripts", required: false)
</body>
</html>